<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ヤーラ！</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script th:src="@{/js/common.js}"></script>
    <link th:href="@{/css/common.css}" rel="styleSheet">
</head>
<body>
    <div class="container">
      <div class="form-group" id="startArea">
        <form th:action="@{/start}" method="post" id="startForm"></form>
      </div>
    </div>
      <input type="button" class="btn btn-default" id="btnStart" value="ゲーム開始"/>
    <div class="container">
      <div class="form-group" id="gamingArea"></div>
    </div>
</body>
</html>
